
  .encabezado-mano {
       
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    height: 30px;
    padding: 0;
    background-color: #ffc107;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  
  }

  .encabezado-mat {
       
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    height: 30px;
    padding: 0;
    background-color: #28a745;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
  
  }

  .encabezado label{  
    padding: 0;      
    border-radius: 10px; 
    font-weight: bold;   
    height: 28px;    
    color: black    
  }

  .fecha {
    margin-left: 50px;
  }

  .pagoProv {
    margin-left: 80px;
  }

  .etapa {
    margin-left: 90px;
  }

  .descripcion {
    margin-left: 80px;
    flex: 1;

  }
  .factura {
    margin-right: 150px;
  }
  
  .comentarios {
    margin-left: 80px;
    flex: 1;
  } 
  
  .valor-dolar {
    margin-right: 80px;
  }

  
  .valor-pesos {
    margin-right: 80px;
    
  }