.subtotales-content {
    background-color: #F9F5EB;
    color: black;
    border-radius: 10px;
    width: 20%;
    min-width: 185px;
    padding: 5px;
    border: solid 2px black;
    margin-right: 5px; 
  
     
}



