.h1-pregunta {
    padding-right: 40px;
    margin:0;
    font-size: 30px;
}

.btn-custom {
   background-color: black;
   color: aliceblue;
}

.btn-custom:hover {
    color: aliceblue;
    background-color: #2B4865;
}
